<div class="row">
	<div class="col s12">
		<h1>Vuelos</h1>
		<p>Escoja que aeropuerto desea consultar.</p>

		<div class="input-field">
			<select id="airport" class="browser-default">
				<option value="" disabled selected></option>
				<% airports.forEach(function(airport){ %>
					<option value="<%= airport.code %>"><%= airport.name %></option>
				<% }); %>
			</select>
			<label for="airport">Aeropuerto</label>
		</div>

		<div class="input-field">
			<p>
			<label>
				<input id="arrivals" name="type" type="radio" />
				<span>Llegadas (Arrivals)</span>
			</label>
			</p>
			<p>
			<label>
				<input id="departures" name="type" type="radio"/>
				<span>Salidas (Departures)</span>
			</label>
			</p>
		</div>
	</div>
</div>

<!-- SUBMIT -->
<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="check()"><i class="material-icons">send</i></a>
</div>